.card {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: left;
}

.kanji {
    font-size: 30px;
    font-weight: bold;
}

.pronunciation {
    font-size: 20px;
}

.romaji {
    font-size: 10px;
}

.meaning {
    font-size: 20px;
}