.card {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: left;
}

.kanji {
    font-size: 25px;
}

.romaji {
    font-size: 15px;
}

.source {
    font-size: 12px;
    color: #888;
}